<div class="main">
  <header class="header">
    <div class="h1-item" routerLink="/home">Shop Shoes</div>
    <ul class="header-item">
      <!-- khong dang nhap -->
      <div *ngIf="!nameLogin">
        <li>
          <button class="btn" (click)="login()"><img style="height: 15px; margin-right: 5px; margin-bottom: -1px"
              src="./assets/images/userth.png" />Đăng
            nhập</button>
        </li>
        <li>
          <a routerLink="/cart"><img style="height: 15px; margin-right: 8px; margin-bottom: -3px"
              src="./assets/images/carts.png" alt="" />Giỏ Hàng({{ cartItems }})</a>
        </li>
      </div>
      <!-- user login -->
      <div *ngIf="nameLogin && !isAdmin()">
        <a class="account">
          <img style="height: 15px; margin-right: 5px; margin-bottom: -1px" src="./assets/images/userth.png" />
          {{ nameLogin }}
          <ul class="sub-account">
            <li class="sub-item-account" routerLink="/all-product-order">Đơn mua</li>
            <li class="sub-item-account" (click)="logout()">Đăng xuất</li>
          </ul>
        </a>

        <li>
          <a routerLink="/cart"><img style="height: 15px; margin-right: 8px; margin-bottom: -3px"
              src="./assets/images/carts.png" alt="" />Giỏ Hàng({{ cartItems }})</a>
        </li>
      </div>
      <!-- admin login -->
      <div *ngIf="nameLogin && isAdmin()">
        <li>
          <a class="account">
            <img style="height: 15px; margin-right: 5px; margin-bottom: -1px" src="./assets/images/userth.png" />
            {{ nameLogin }} (Admin)
            <ul class="sub-account">
              <li class="sub-item-account" routerLink="/seller-home">Danh sách sản phẩm</li>
              <li class="sub-item-account" (click)="logout()">Đăng xuất</li>
            </ul>
          </a>
        </li>
      </div>

    </ul>
  </header>
</div>